<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/style.css">
    <title>Casas</title>
</head>
<body>
    <div class="header">
      <header>
            <nav class="nav">
                 <a href="../index.html"><img src="../assets/1.png" class="logo"></a>
                  <ul class="menu">   

                     <li class="item">
                             <a href="/templates/casas.html" class="link">casas</a>
                         </li>
                     <li class="item">
                             <a href="/templates/departamentos.html" class="link" >dptos</a>
                         </li>
                     <li class="item">
                             <a href="/templates/hoteles.html" class="link" >hoteles</a>
                         </li>
                     <li class="item">
                             <a href="/templates/contacto.html" class="link" >contacto</a>
                          </li>
                  </ul>
          </nav>
       </header>
    </div>

<div class="main-casa">

    <div class="opcionc">
             <div class="opcioncph">
                  <img src="../assets/opcionc1.jpg" class="cph">
             </div>
             <div class="info-opcionc">

                 <h3 class="ich4">Casa en Venta en San Eduardo, Pilar del Este, San Eduardo, Zelaya</h3>
                                
                  <p class="icp">Cantidad plantas : 1 <br>
                          Cobertura cochera : Descubierta <br>
                          Frente del terreno (mts) : 14 <br>
                          Largo del terreno (mts) : 30 <br>
                          Parrilla  <br>
                           Superficie Semicubierta (m²): 40 <br>
                  </p>
                    <h2 class="ic">USD 150.000</h2>
                    <div class="btn-contacto">
                      <a href="/templates/contacto.html" class="link">Estoy interesado</a>
                   </div>
             </div>
    </div>

    <div class="opcionc">

            <div class="opcioncph">
              <img src="../assets/opcionc2.jpg" class="cph">
            </div>
      <div class="info-opcionc">

                <h3 class="ich4">Venta Chalet 4 Ambientes Barrio Chauvin!</h3> 
                  <p class="icp">Ofrecemos a la venta chalet de 4 ambientes distribuidos en dos plantas luminoso, 
                   amplio y de sólida construcción
                Ubicado en barrio Chauvin, a dos cuadras de plaza Güemes, 
                  es una zona residencial de viviendas permanentes.</p>

                <h2 class="ic">USD 239.000</h2>
            <div class="btn-contacto">
                <a href="/templates/contacto.html" class="link">Estoy interesado</a>
            </div>
      </div>
    
    </div>

    <div class="opcionc">
         <div class="opcioncph">
                <img src="../assets/opcionc3.jpg" class="cph">
          </div>
           <div class="info-opcionc">

         <h3 class="ich4">Venta Casa 2 Dorm. Roldán</h3>
         
         <p class="icp">Este barrio esta muy cerca del limite con Funes <br>
            Terreno: 800 <br>
            Cubierta: 165 m2. <br>
            Descubierta: 31 m2. <br>
            Semicubierta: 30 m2. <br>
            Total construido: 226 m2. <br>
           </p>
                    <h2 class="ic">USD 345.000</h2>
            <div class="btn-contacto">
                  <a href="/templates/contacto.html" class="link">Estoy interesado</a>
             </div>
           </div>

             
    </div>

    <div class="opcionc">
        <div class="opcioncph">
        <img src="../assets/opcionc4.jpg" class="cph">
        </div>

        <div class="info-opcionc">

           <h3 class="ich4">Venta Casa 5 Dorm. 4 Baños Para Refaccionar</h3>
        
           <p class="icp">Martin Cesarsky, Socio de GLOBAL Red de Inmobiliarias OFRECE EN VENTA:
               Casa, estilo Chalet de muy buena calidad constructiva de dos plantas A REFACCIONAR.
          </p>
                        <h2 class="ic">USD 375.000</h2>
           <div class="btn-contacto">
                <a href="/templates/contacto.html" class="link">Estoy interesado</a>
            </div>
       </div> 
    </div>

</div>

<div class="footer">

    <div class="logoft">

         <a href="../index.html"><img src="../assets/3.png"></a>
    <br> <br>
        <p class="dato"><b>TELÉFONO:</b> <br> <br> 44443332  </p> <br>
        <p class="direccion"> <b>DIRECCIÓN:</b> <br> <br> San Martin 2222, Godoy Cruz. </p> <br>
        <p class="email"><b>EMAIL:</b> <br><br> inmobiliariatorres@gmail.com</p>
    </div>
     
    <div class="inicio">
          <h3><b>Home</b></h3> <br>
            <a href="../index.html">Inicio</a>
    </div>

    <div class="opciones">

        <h3><b>Categorías</b></h3><br>

        <a href="/templates/casas.html">Casas</a>

        <a href="/templates/departamentos.html">Dptos</a>

        <a href="/templates/hoteles.html">Hoteles</a>

    </div>

    <div class="contactof">
          <h3><b>Comunicate</b></h3><br>

           <a href="/templates/contacto.html">Contactanos</a>

           <a href="/templates/contacto.html">Ayuda</a>
    </div>

    <div class="redes">

        <h3><b>Seguinos!</b></h3><br>

        <a href=""><img src="../assets/fb.png" width="25px" height="25px"></a>

        <a href=""><img src="../assets/ig.png" width="25px" height="25px"></a>

        <a href=""><img src="../assets/yt.png" width="25px" height="25px"></a>

    </div>

</div>

</body>
</html>